@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Ropa Sans';
    font-weight: normal;
  }

  header {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    padding: 8px 31px 16px 44px;
  }

  div.logo{
    display: flex;
    text-align: center;
  }

  img#logoimg{
    width: 63px;
  }

  img#menu{
    margin-left: auto;
    width: 18px;
  }

  .pos-logo{
    font-size: 10px;
    margin-left: 0.4%;
    color: #AAAAAA;

  }

  main {
    margin: 30px 45px 30px 44px;
    display: flexbox;
  }

  div.slide{
    width: 100%;
    position: relative;
    display: block;
    
  }

  div.botao-navegacao{
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(0%, -50%);

  }

  div#direito{
    right: 10px;
  }

  div#esquerdo{
    left: 10px;
  }

  img.flecha-esquerda{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  img.flecha-direita{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  img.img-slide{
    width: 100%;
  }

  div.caixas{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 45px;
  }

  div.caixa{
    width: 42%;
    background-color: #EEEEEE;
  }

  img.caixa-imagem{
    width: 100%;
  }

  div.caixa-legenda{
    display: flex;
    justify-content: space-between;
    padding: 10px 17px 13px 12px;
  }

  h3.caixa-preco{
    font-size: 25px;
    color: #888888;
  }

  h3.caixa-novo{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #51D275;
    padding: 3px 15px 1.5px 15px;
    border-radius: 14px;
  }

  h3.caixa-venda{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #DC9730;
    padding: 3px 15px 1.5px 15px;
    border-radius: 14px;
  }

  p.caixa-texto{
    font-size: 13px;
    color: #555555;
    margin-left: 13px;
    margin-right: 14px;
    margin-bottom: 12px;
    text-align: justify;
  } 

  div.estilos{
    display: flexbox;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  h2.estilos-titulo{
    font-size: 25px;
    color: #888888;
    margin-bottom: 20px;
  }

  ul.estilos-lista{
    list-style-type: none;
  }

  img.estilos-imagem{
    width: 100%;
    opacity: 70%;
  }

  li.estilos-lista-item{
    position: relative;
    text-align: center;
    margin-bottom: 13px;
  }

  h3.estilo-titulo{
    color: #FFFFFF;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer{
    background-color: #333333;
    color: white;
    padding: 40px 45px 40px 45px;
    display: flex;
    justify-content: space-between;
    
  }

  p.informacao-texto{
    margin-bottom: 15px;
    font-size: 12px;
  }

  ul.redes-sociais-lista{
    list-style-type: none;
    display: flex;
    margin-top: 10px;
  }

  li.rede-social{
    margin-right: 35px;
  }